In [1]:
import pandas as pd

In [36]:
raw_dfs = {
    'races': pd.read_parquet('.data_parquet/races.parquet'),
    'results': pd.read_parquet('.data_parquet/results.parquet'),
    'constructor_standings': pd.read_parquet('.data_parquet/constructor_standings.parquet'),
    'qualifying': pd.read_parquet('.data_parquet/qualifying.parquet')
}
display(raw_dfs['races'])

,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,datetime
raceId,,,,,,,,,,,,,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-03-29 06:00:00
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-05 09:00:00
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-19 07:00:00
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-26 12:00:00
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-05-10 12:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,2023-10-22 19:00:00
1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,2023-10-29 20:00:00
1118,2023,20,18,SÃ£o Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,2023-11-05 17:00:00
1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,2023-11-19 06:00:00
1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,2023-11-26 13:00:00

In [17]:
races_by_number = raw_dfs['races'][['year', 'round']].sort_values(['year', 'round'])
races_by_number['number'] = range(1, len(races_by_number) + 1)
races_by_number = races_by_number[['number']]
races_df_with_number = raw_dfs['races'].join(races_by_number['number'], on='raceId')
display(races_df_with_number)
races_by_number['raceId'] = races_by_number.index
races_by_number = races_by_number.set_index('number')
display(races_by_number)

,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time,datetime,number
raceId,,,,,,,,,,,,,,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-03-29 06:00:00,804
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-05 09:00:00,805
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-19 07:00:00,806
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-04-26 12:00:00,807
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,2009-05-10 12:00:00,808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00,2023-10-22 19:00:00,1097
1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N,2023-10-29 20:00:00,1098
1118,2023,20,18,SÃ£o Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00,2023-11-05 17:00:00,1099
1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N,2023-11-19 06:00:00,1100
1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N,2023-11-26 13:00:00,1101

        raceId
number
1          833
2          834
3          835
4          836
5          837
...        ...
1097      1116
1098      1117
1099      1118
1100      1119
1101      1120

[1101 rows x 1 columns]

In [35]:
# For a given result, get the results of the same driver in the last 3 races
DRIVER_ID = 1
PREVIOUS_RACES_NUMBER = 6
BASE_RACE_ID = 18 + PREVIOUS_RACES_NUMBER

base_race_number = races_df_with_number.loc[BASE_RACE_ID]['number']
race_range = range(base_race_number - PREVIOUS_RACES_NUMBER, base_race_number)
previous_races_id = races_by_number.loc[race_range]['raceId']
results_id = [(id, DRIVER_ID) for id in previous_races_id]
last_results = raw_dfs['results'].loc[results_id]
last_three_grids = last_results['grid']
last_three_positions = last_results['position']
last_three_constructorId = last_results['constructorId']
display(last_three_grids)
display(last_three_positions)
display(last_results)
constructor_standings_id = [(id, constructorId) for id, constructorId in zip(previous_races_id, last_three_constructorId)]
last_constructor_standings = raw_dfs['constructor_standings'].loc[constructor_standings_id]
display(last_constructor_standings)

raceId  driverId
18      1           1
19      1           9
20      1           3
21      1           5
22      1           3
23      1           3
Name: grid, dtype: int64

raceId  driverId
18      1            1.0
19      1            5.0
20      1           13.0
21      1            3.0
22      1            2.0
23      1            1.0
Name: position, dtype: float64

,,constructorId,grid,position,points,laps,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,fastestLapMillis
raceId,driverId,,,,,,,,,,,,
18,1,1,1,1.0,10.0,58,5690616.0,39.0,2.0,1:27.452,218.300,1,87452.0
19,1,1,9,5.0,4.0,56,5525103.0,53.0,3.0,1:35.462,209.033,1,95462.0
20,1,1,3,13.0,0.0,56,NaN,25.0,19.0,1:35.520,203.969,11,95520.0
21,1,1,5,3.0,6.0,66,5903238.0,20.0,3.0,1:22.017,204.323,1,82017.0
22,1,1,3,2.0,8.0,58,5213230.0,31.0,2.0,1:26.529,222.085,1,86529.0
23,1,1,3,1.0,10.0,76,7242742.0,71.0,6.0,1:18.510,153.152,1,78510.0

                      points  position positionText  wins
raceId constructorId
18     1                14.0         1            1     1
19     1                24.0         1            1     1
20     1                28.0         3            3     1
21     1                34.0         3            3     1
22     1                42.0         3            3     1
23     1                53.0         2            2     2

In [51]:
raw_dfs['qualifying'].loc[(previous_races_id, slice(None))]

                 constructorId  number  position       q1       q2       q3
raceId driverId
18     1                     1      22         1  86572.0  85187.0  86714.0
       9                     2       4         2  86103.0  85315.0  86869.0
       5                     1      23         3  85664.0  85452.0  87079.0
       13                    6       2         4  85994.0  85691.0  87178.0
       2                     2       3         5  85960.0  85518.0  87236.0
...                        ...     ...       ...      ...      ...      ...
23     7                     5      14        16  76806.0      NaN      NaN
       12                    4       6        17  76933.0      NaN      NaN
       20                    5      15        18  76955.0      NaN      NaN
       16                   10      20        19  77225.0      NaN      NaN
       21                   10      21        20  77823.0      NaN      NaN

[128 rows x 6 columns]